h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}

.title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#first-title {
    background-color: mediumspringgreen;
}

#second-title {
    background-color: lightcoral;
}

#third-title {
    background-color: skyblue;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}